<nav class="headerContainer">
  <div class="navContainer">
    <div *ngIf="!(isSidebarOpen$ | async)" class="logoContainer">
      <img src="../../../favicon.ico" />
      <h3>Angular Games</h3>
    </div>
    <div class="navLeft">
      <ul>
        <a class="navLink" href="">Popüler Oyunlar</a>
      </ul>
      <ul>
        <a class="navLink" href="">Korku Oyunları</a>
      </ul>
      <ul>
        <a class="navLink" href="">Spor Oyunları</a>
      </ul>
      <ul>
        <a class="navLink" href="">Bonus Oyunlar</a>
      </ul>
    </div>

    <div class="navRight">
      <button>Login</button>
      <button>Register</button>
    </div>
  </div>
</nav>
