.sideBarWrapper {
  background-color: rgb(223, 223, 223);
  height: 100vh;
  position: relative;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sideBarContainer.active {
  width: 250px;
}

.sidebarElements {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: auto;
  margin-left: 1rem;
  padding-top: 3rem;
  font-size: 18px;
  font-weight: 500;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  margin-left: 1rem;
  gap: 1rem;
  padding-top: 1rem;
}

.material-symbols-outlined {
  position: absolute;
  padding-left: 1rem;
  top: 2.3rem;
  left: 0;
}

.sideBarContainer.active .material-symbols-outlined {
  left: 14rem;
  padding-left: 0;
}
