.sideBarWrapper {
  background-color: rgb(235, 235, 235);
  height: 100vh;
  position: relative;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebarElements {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  margin-left: 1rem;
  gap: 1rem;
  padding-top: 1rem;
}

.material-symbols-outlined {
  position: absolute;
  top: 2.2rem;
}
